WSClientApp/xml-resources/web-service-references/MathService/wsdl/localhost_7001/ws1/MathService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://ws.trg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.trg.com/"><xsd:complexType name="addNumbers"><xsd:sequence><xsd:element name="number1" type="xsd:int"/><xsd:element name="number2" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="addNumbersResponse"><xsd:sequence><xsd:element name="sum" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="hello"><xsd:sequence><xsd:element name="name" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="helloResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="addNumbers" type="ns0:addNumbers"/><xsd:element name="addNumbersResponse" type="ns0:addNumbersResponse"/><xsd:element name="hello" type="ns0:hello"/><xsd:element name="helloResponse" type="ns0:helloResponse"/></xsd:schema>