WSClientApp/xml-resources/web-service-references/ProductService/wsdl/localhost_7001/ws3/ProductService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.trg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.trg.com/" name="ProductService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.trg.com/" schemaLocation="http://localhost:7001/ws3/ProductService?xsd=1"/>
</xsd:schema>
</types>
<message name="setAllProducts">
<part name="parameters" element="tns:setAllProducts"/>
</message>
<message name="setAllProductsResponse">
<part name="parameters" element="tns:setAllProductsResponse"/>
</message>
<message name="saveProduct">
<part name="parameters" element="tns:saveProduct"/>
</message>
<message name="saveProductResponse">
<part name="parameters" element="tns:saveProductResponse"/>
</message>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ProductService">
<operation name="setAllProducts">
<input wsam:Action="http://ws.trg.com/ProductService/setAllProductsRequest" message="tns:setAllProducts"/>
<output wsam:Action="http://ws.trg.com/ProductService/setAllProductsResponse" message="tns:setAllProductsResponse"/>
</operation>
<operation name="saveProduct">
<input wsam:Action="http://ws.trg.com/ProductService/saveProductRequest" message="tns:saveProduct"/>
<output wsam:Action="http://ws.trg.com/ProductService/saveProductResponse" message="tns:saveProductResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://ws.trg.com/ProductService/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://ws.trg.com/ProductService/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.trg.com/ProductService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.trg.com/ProductService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductService">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:7001/ws3/ProductService"/>
</port>
</service>
</definitions>